.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: $bg-basic;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}

.btn:hover {
  background-color: $bg-hover;
}

.btn:active {
  background-color: $bg-active;
}

.btn--disabled,
.btn:disabled {
  background-color: #e5e5e5;
}

.btn--disabled:focus,
.btn--disabled:hover {
  background-color: #e5e5e5;
}
