.btn {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color:skyblue;
  cursor: pointer;
}
