.find-hotel {
  text-align: center;
}

.find-hotel__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.find-hotel__desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.find-hotel__btn {
  margin: 0 auto;
  width: 280px;
}
