.form {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__label {
  position: relative;
}

.form__legend {
  position: relative;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form__legend--lines::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    left: -176px;
    top: 32px;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 285px;
    height: 1px;
    left: -340px;
    top: 32px;
    background-color: #dbdbdb;
  }
}

.form__legend--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    left: 308px;
    top: 32px;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 285px;
    height: 1px;
    left: 312px;
    top: 32px;
    background-color: #dbdbdb;
  }
}

.form__option {
  display: flex;
}

.form__submit {
  display: block;
  width: 280px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 480px;
  }
}

.form__fieldset {
  position: relative;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 25px;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__fieldset-presents {
  display: flex;
  width: 280px;
}

.form__option-presents {
  display: flex;
  align-items: baseline;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.form__fieldset-contacts {
  display: flex;
  width: 280px;
  flex-direction: column;

  &:not(:first-child) {
    margin-top: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 638px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__option-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-bottom: 14px;
  }
}

.form__fieldset-impression {
  width: 280px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    order: -2;
  }
}

.form__option-impression {
  display: flex;
  margin-top: 40px;

  &:not(:last-child) {
    margin-bottom: 51px;
  }
}

.form__input-tel,
.form__input-email,
.form__input-text {
  width: 100%;
  height: 58px;
  padding-left: 22px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  background-color: #f2f2f2;
  border: none;
}

.form__input-tel--icon::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 42px;
  right: -269px;
  background-color: #e5e5e5;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 42px;
    right: -9px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form__input-email--icon::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 42px;
  right: -269px;
  background-color: #e5e5e5;
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 42px;
    right: -10px;
    background-color: #e5e5e5;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form__title {
  position: relative;
  display: block;
  text-align: center;
}

.form__title--lines::before {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    left: -1px;
    top: 11px;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 285px;
    height: 1px;
    left: -1px;
    top: 11px;
    background-color: #dbdbdb;
  }
}

.form__title--lines::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    left: 483px;
    top: 11px;
    background-color: #dbdbdb;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    width: 285px;
    height: 1px;
    left: 641px;
    top: 11px;
    background-color: #dbdbdb;
  }
}

.form__input-radio {
  position: relative;
  margin-bottom: 21px;

  &:checked + .form__radio::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    right: 31px;
    top: 5px;
    background-color: #000000;
  }
}

.form__radio {
  position: relative;
  margin-left: 60px;
}

.form__radio::before {
  content: "";
  position: absolute;
  display: block;
  padding-bottom: 21px;
  left: -65px;
  top: -10px;
  width: 50px;
  height: 48px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.form__input-checkbox {
  position: relative;

  &:checked + .form__checkbox::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    right: 31px;
    top: 5px;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.form__fieldset-showplace {
  display: flex;
  width: 280px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;

  @media (min-width: $tablet-width) {
    width: 638px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__option-showplace {
  display: flex;
  margin-top: 15px;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.form__fieldset-contacts-wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    width: 100%;
  }
}

.form__fieldset-showplace-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 480px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.form__checkbox {
  position: relative;
  margin-left: 60px;
}

.form__checkbox::before {
  content: "";
  position: absolute;
  display: block;
  padding-bottom: 21px;
  left: -65px;
  top: -10px;
  width: 48px;
  height: 48px;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.form__fieldset-emotion {
  width: 280px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 638px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__textarea {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  border: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 7px;
  resize: none;
}

.form__textarea:focus,
.form__input-tel:focus,
.form__input-text:focus,
.form__input-email:focus {
  background-color: $basic-white;
  outline: 0;
  box-shadow: inset 0 0 0 4px #e5e5e5;
}

.form__textarea:hover,
.form__input-tel:hover,
.form__input-text:hover,
.form__input-email:hover {
  background-color: #e5e5e5;
}

.form__required {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 132px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 288px;
  }
}
