.header-logo__image {
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
  top: 0;
  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
    top: 0;
  }
}
