.intro__header {
  min-height: 390px;
  background-color: tomato;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__text {
  display: block;
  margin: 0 auto;
  padding: 75px 20px;
}
