.main-nav {
  position: relative;
  width: 100%;
  color: white;
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 768px;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 46px;
  height: 44px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.3;
  }
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  content: "";
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 25px;
  width: 23px;
  height: 23px;
  background-image: url(../../img/icon-cross.svg);
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__toggle {
  content: "";
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 25px;
  width: 23px;
  height: 4px;
  background-color: $bg-basic;
  box-shadow:
    0 8px 0 0 $bg-basic,
    0 16px 0 0 $bg-basic;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}
