.page-footer {
  text-align: center;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 652px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
  }
}

.page-footer__tag {
  margin-top: 39px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.page-footer__social-list {
  margin-top: 35px;
}

.page-footer__copyright {
  margin-top: 45px;
}
