.site-list {
  @media (min-width: $desktop-width) {
    min-width: 1200px;
    padding-bottom: 0;
  }
}

.site-list__link {
  display: block;
  padding: 10px 0 10px;
  text-decoration: none;
  text-align: center;
  background-color: $bg-basic;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    border: none;
    background: none;
    color: #000000;
  }
}

.site-list__link:hover {
  background-color: $bg-hover;

  @media (min-width: $tablet-width) {
    color: $bg-basic;
    background: none;
  }
}

.site-list__link:active {
  background-color: $bg-active;

  @media (min-width: $tablet-width) {
    color: #000000;
    opacity: 0.3;
    background: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--current {
    color: $light-brown;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--current:hover {
    color: $brown;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link--current:active {
    opacity: 0.3;
  }
}

.site-list__item:not(:last-child) {
  border-bottom: 1px solid #678fa8;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__item:not(:first-child) {
  border-top: 1px solid #9ac2db;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item:nth-child(3) {
    padding-left: 178px;
  }
}
