.video {
  padding-bottom: 94px;
  text-align: center;
}

.video__title {
  display: block;
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.video__desc {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.video__header {
  margin-top: 32px;
}

.video__player {
  width: 100%;
  min-height: 201px;
  background-repeat: no-repeat;
}
