// colors

$basic-white: #ffffff;
$bg-basic: #81b3d2;
$bg-hover: #669ec0;
$bg-active: #5496bd;
$brown: #604e43;
$light-brown: #766357;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
